mixin link(text='', cls, name='')
    a(href=require(`../../assets/docs/${name}`) class= cls)= text

mixin link_download(text='', cls, name='')
    a(href=require(`../../assets/docs/${name}`) download="Program.pdf" class= cls)= text
