- var navItems = [{'Home':'index.html'}]

mixin nav(activePage = 'Home', classes = '', items = navItems)
    ul.nav(class= classes)
        each item in items
            li.nav-item
                each href, value in item
                    a.nav-link.link-light.me-3.text-white(
                        aria-current='page'
                        href= href
                        class=(value === activePage ? "active" : ''))= value