extends ../layout/_layout

//- block variables
//-     -   var footItems_1 = [{'Центр по реабилитации и коррекции речи ИП Красикова Н.Н.': '#base'}]

block content
        header.py-3.border-bottom
            .container.d-flex.justify-content-between.flex-wrap.justify-content-center
                a.d-flex.align-items-center.mb-3.mb-md-0.text-dark.text-decoration-none(href='#')
                    img.d-block.mx-auto.me-2(src=require('../../assets/img/logo.jpg') alt='Логотип Центр по реабилитации и коррекции речи' width='50' height='50')
                    span.fs-6.fw-bold Центр по реабилитации и коррекции речи
                a.p-2.justify-content-center.border.border-light.rounded.bvi-open(href='#')
                    img.d-block.mx-auto(src=require('../../assets/img/eye.svg') alt='Версия сайта для слабовидящих' width='30' height='30')
                    | Версия сайта для слабовидящих
                ul.nav.nav-pills.justify-content-center.align-items-center
                    li.nav-item
                        a.nav-link.fw-semibold.active(href='#' aria-current='page') Главная
                    li.nav-item
                        a.nav-link.fw-semibold(href='license.html') Сведения об образовательной организации
        main
            .px-4.py-5.my-5.text-center
                img.d-block.mx-auto.mb-4(src=require('../../assets/img/logo.jpg') alt='Логотип Центр по реабилитации и коррекции речи' width='72' height='72')
                h1.display-6.fw-bold.mb-3
                    | Центр по реабилитации
                    br
                    | и коррекции речи ИП Красикова Н.Н.
                .col-lg-6.mx-auto
                    h2.lead.mb-2.fs-4.fw-semibold
                        | Один из лучших логопедических центров в Краснодаре по мнению многих родителей.
                    p.lead.mb-4.fs-4
                        | Руководитель центра 
                        b Наталья Красикова
                        br
                        | имеет опыт в логопедии 
                        |
                        b 17 лет.
                    p.fs-5.mb-1 В центре работают только квалифицированные опытные специалисты, которые всегда находят подход к ребенку. 
                    p.fs-5.mb-1 У нас есть образовательная лицензия! А это значит, что вы можете воспользоваться мат.капиталом и вернуть налоговый вычет. 
                    p.fs-5.mb-1 Огромное количество пособий, игр и материалов позволяют проводить интересные для детей занятия.
                    p.fs-5.mb-1 Проводится регулярная дезинфекция всех инструментов, игр и помещений.
                    p.fs-5.mb-4 У нас всегда чисто, уютно и интересно детям!
                    h3.fs-5.fw-bold Мы находимся по адресу:
                    ul.list-group.list-group-flush
                        li.list-group-item.fw-semibold ‌г. Краснодар, ул. Российская 74/3
                        li.list-group-item 
                            a.link-primary.link-offset-2.link-offset-3-hover.link-underline.link-underline-light.link-underline-opacity-0.link-underline-opacity-75-hover.fw-semibold(href='tel: +79654728686' aria-current='page') тел. +7 (965) 472-86-86 

        footer.py-3.border-top
            .container
                .col.d-flex.flex-wrap.justify-content-between.align-items-center.border-bottom.pb-3
                    span.mb-3.mb-md-0.text-light © 2023 ИП Красикова Н.Н.&nbsp;&nbsp;&nbsp;
                    span.mb-3.mb-md-0.text-light Центр по реабилитации и коррекции речи
                p.text-center.mt-2
                    +link_download('Политика конфиденциальности', 'Privacy_policy.pdf', 'link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover')

