extends ../layout/_layout

block variables
    -   var footItems_1 = [{'Центр по реабилитации и коррекции речи ИП Красикова Н.Н.': 'index.html'}, {'Сведения об образовательной организации': 'license.html'}]

block content
    header.py-3.border-bottom
        .container.d-flex.justify-content-between.flex-wrap.justify-content-center
            a.d-flex.align-items-center.mb-3.mb-md-0.text-dark.text-decoration-none(href='index.html')
                img.d-block.mx-auto.me-2(src=require('../../assets/img/logo.jpg') alt='Логотип Центр по реабилитации и коррекции речи' width='50' height='50')
                span.fs-6.fw-bold Центр по реабилитации и коррекции речи
            a.p-2.justify-content-center.border.border-light.rounded.bvi-open(href='#')
                    img.d-block.mx-auto(src=require('../../assets/img/eye.svg') alt='Версия сайта для слабовидящих' width='30' height='30')
                    | Версия сайта для слабовидящих
            ul.nav.nav-pills.justify-content-center.align-items-center
                li.nav-item
                    a.nav-link.fw-semibold(href='index.html' aria-current='page') Главная
                li.nav-item
                    a.nav-link.fw-semibold.active(href='#') Сведения об образовательной организации

    main
        .container.my-4
            h2.fw-bold.ms-3 Сведения об образовательной организации

            +section('1. Раздел «Основные сведения»', 'base')
                +card-title('', '', [
                    ['Полное наименование:', 'Индивидуальный предприниматель Красикова Наталья Николаевна;'],
                    ['Сокращенное наименование:', 'ИП Красикова Н.Н.;'],
                    ['Дата регистрации в ЕГРИП:', '15.08.2018 г.;'],
                    ['Место нахождения:', '350901, г. Краснодар, ул. Российская, д. 75/5, кв. 90;'],
                    ['Режим работы:', 'с понедельника по пятницу с 09:00 до 18:00, перерыв на обед с 13:00 до 14:00;'],
                    ['Контактный телефон:', '+79654728686;'],
                    ['Электронная почта:', 'Natalya_krasikova@mail.ru;'],
                    ['Адрес места осуществления образовательной деятельности:', 'г. Краснодар, ул. Российская, д. 74/3, помещения 96-101 (здание литер А, 1 этаж).'],
                    ['Лицензия на осуществление образовательной деятельности:', 'Л035-01218-23/00632812 от 20.12.2022 г., выдана Министерством образования, науки и молодежной политики Краснодарского края;'],
                    ['', 'Государственная аккредитация образовательной деятельности по реализуемым образовательным программам отсутствует.']
                ])

            +section('2. Раздел «Структура и органы управления образовательной организации»')
                +card-title('', 'Структурные подразделения не создаются.', [])

            +section('3. Раздел «Документы»')
                .card.no-border.text-dark
                    ul.list-group.list-group-flush.list-group-numbered
                        li.list-group-item 
                            +link_download('Правила внутреннего распорядка обучающихся', 'Internal_regulations_of_students.pdf')
                        li.list-group-item
                            +link_download('Правила внутреннего трудового распорядка', 'Internal_labor_regulations.pdf')
                        li.list-group-item
                            +link_download('Правила приема обучающихся', 'Rules_of_admission_of_students.pdf')
                        li.list-group-item 
                            +link_download('Режим занятий обучающихся', 'Lesson_mode.pdf')
                        li.list-group-item
                            +link_download('Формы, периодичность и порядок текущего контроля успеваемости и промежуточной аттестации обучающихся', 'About_forms_of_current_control.pdf')
                        li.list-group-item
                            +link_download('Порядок и основания перевода, отчисления и восстановления обучающихся', 'Procedure_and_grounds_for_transfer_and_deduction.pdf')
                        li.list-group-item
                            +link_download('Порядок оформления возникновения, приостановления и прекращения отношений между образовательной организацией и обучающимися', 'The_procedure_for_the_emergence_registration_and_change_of_educational_relations.pdf')
                        li.list-group-item
                            +link_download('Отчёт о самообследовании за 2022', 'Self-examination_report_for_2022.pdf')
                        li.list-group-item
                            +link_download('Отчёт о самообследовании за 2023', 'Self-examination_report_for_2023.pdf')

            +section('4. Раздел «Образование»')
                +card-title('Дополнительная общеобразовательная общеразвивающая программа «Логопедия»', '', [
                    ['Форма обучения:', 'очная.'],
                    ['Обучение за счет бюджетных ассигнований федерального бюджета, бюджетов субъектов Российской Федерации, бюджетных ассигнований местных бюджетов:', 'не предусмотрено.'],
                    ['Численность обучающихся по договорам об образовании, заключаемым при приеме на обучение за счет средств физического и (или) юридического лица:', 'не ограничивается.']
                ])

            +section('5. Раздел «Образовательные стандарты и требования»')
                +card-title('', '', [
                    ['', 'К дополнительной общеобразовательной общеразвивающей программе  социально-гуманитарной направленности «Логопедия» не применяются образовательные стандарты.']
                ])

            +section('6. Раздел «Руководство»')
                +card-title('', '', [
                    ['Руководитель образовательной организации: ', 'индивидуальный предприниматель Красикова Наталья Николаевна.'],
                    ['Контактный телефон:', '+79384280286'],
                    ['Электронная почта:', 'Natalya_krasikova@mail.ru']
                ])

            +section('7. Раздел «Педагогический состав»')
                +card-title('Красикова Наталья Николаевна', '', [
                    ['Должность:', 'логопед, педагог дополнительного образования.'],
                    ['Обучает по программе:', '«Логопедия».'],
                    ['Образование:', 'высшее по специальности «Логопедия» (2009), квалификация «Учитель-логопед».'],
                    ['Опыт работы:', '19 лет.'],
                    ['Повышение квалификации:', 'в 2025 году по программе «Психолого-педагогическое сопровождение детей с ограниченными возможностями здоровья в соответствии с ФГОС» в объеме 288 академических часов.']
                ])

                +card-title('Татаринова Ксения Викторовна', '', [
                    ['Должность:', 'дефектолог, олигофренопедагог, педагог дополнительного образования.'],
                    ['Обучает по программе:', '«Логопедия».'],
                    ['Образование:', 'высшее по специальности «Олигофренопедагогика» с дополнительной специальностью «Логопед» (2013).'],
                    ['Опыт работы:', '12 лет.'],
                    ['Повышение квалификации:', 'в 2025 году по программе «Организация и содержание логопедической работы учителя-логопеда в условиях реализации ФГОС» в объеме 72 академических часа.']
                ])

                +card-title('Кроква Оксана Владимировна', '', [
                    ['Должность:', 'логопед, педагог дополнительного образования.'],
                    ['Обучает по программе:', '«Логопедия».'],
                    ['Образование:', 'высшее по направлению подготовки «Специальное (дефектологическое) образование» (2023).'],
                    ['Опыт работы:', '3 года.'],
                    ['Повышение квалификации:', 'в 2025 году по программе «Организация и содержание логопедической работы учителя-логопеда в условиях реализации ФГОС» в объеме 72 академических часа.']
                ])

                +card-title('Соколикова Яна Николаевна', '', [
                    ['Должность:', 'логопед, педагог дополнительного образования.'],
                    ['Образование:', 'Специальное (дефектологическое) образование, высшее педагогическое (2019 г.).'],
                    ['Опыт работы:', '6 лет.'],
                    ['Повышение квалификации:', 'в 2025 году по программе «Организация и содержание логопедической работы учителя-логопеда в условиях реализации ФГОС» в объеме 72 академических часа.']
                ])

            +section('8. Раздел «Материально-техническое обеспечение и оснащенность образовательного процесса. Доступная среда»')
                +card-title('', '', [
                    ['Материально-техническое обеспечение образовательной деятельности:', 'оборудованные учебные кабинеты, столы, стулья, учебные пособия.'],
                    ['Материальная база соответствует санитарным и техническим нормам и правилам и обеспечивает проведение всех видов практической и дисциплинарной подготовки слушателей, предусмотренных учебным планом реализуемой дополнительной профессиональной программы.', ''],
                    ['О доступе к информационным системам и информационно-телекоммуникационным сетям, приспособленным для использования инвалидами и лицами с ограниченными возможностями здоровья:', 'сайт имеет версию для слабовидящих.'],
                    ['Обеспечение беспрепятственного доступа в здание образовательной организации:', 'при входе в помещение имеется пандус.']
                ])

            +section('9. Раздел «Стипендии и меры поддержки обучающихся»')
                +card-title('', '', [
                    ['', 'Стипендии и иные виды материальной поддержки обучающихся не предусмотрены.'],
                    ['', 'Индивидуальный предприниматель не располагает общежитием для обучающихся.'],
                ])

            +section('10. Раздел «Платные образовательные услуги»')
                +card-title('', '', [
                    ['', 'Раздел уточняется.']
                ])
                // Удаляем документы из раздела
                // .card.no-border.text-dark
                //     ul.list-group.list-group-flush
                //         li.list-group-item 
                //             +link_download('Образец договора об оказании платных образовательных услуг', 'Contract_with_students_april_2023.pdf')
                //         li.list-group-item 
                //             +link_download('Приказ об утверждении стоимости обучения по каждой образовательной программе', 'The_order_on_the_approval_of the_cost_of_educational_programs.pdf')

            +section('11. Раздел «Финансово-хозяйственная деятельность»')
                +card-title('', '', [
                    ['', 'Вся образовательная деятельность осуществляется по договорам об оказании платных образовательныхуслуг.'],
                ])

            +section('12. Раздел «Вакантные места для приема (перевода) обучающихся»')
                +card-title('', '', [
                    ['Вакантные места для приема (перевода) обучающихся по дополнительной общеобразовательной общеразвивающейпрограмме «Логопедия»:', ''],
                    ['*', 'за счёт бюджетных ассигнований федерального бюджета не предусмотрены;'],
                    ['*', 'за счёт бюджетных ассигнований бюджетов субъекта Российской Федерации не предусмотрены;'],
                    ['*', 'за счёт бюджетных ассигнований местных бюджетов не предусмотрены.'],
                    ['В ИП Красикова Н.Н.  прием обучающихся ведется в соответствии с заключаемыми договорами об оказанииплатных образовательных услуг', '– без ограничений.'],
                    ['Квоты и контрольные цифры', '– не установлены.'],
                ])

            +section('13. Раздел «Международное сотрудничество»')
                +card-title('', '', [
                    ['', 'ИП Красикова Н.Н. не имеет заключенных и планируемых к заключению договоров с иностранными и (или) международными организациями по вопросам образования и науки.']
                ])

            +section('14. Раздел «Организация питания в образовательной организации»')
                +card-title('', '', [
                    ['', 'Питание обучающихся не предусмотрено. Охрана здоровья обучающихся обеспечивается за счет соблюдения режима занятий и равномерного распределения учебной нагрузки.']
                ])

    footer.py-3.border-top
        .container
            .col.d-flex.flex-wrap.justify-content-between.align-items-center.border-bottom.pb-3
                span.mb-3.mb-md-0.text-light © 2023 ИП Красикова Н.Н.&nbsp;&nbsp;&nbsp;
                a.link-light.link-offset-2.link-offset-3-hover.link-underline.link-underline-light.link-underline-opacity-0.link-underline-opacity-75-hover(href='index.html' aria-current='page') Центр по реабилитации и коррекции речи
            p.text-center.mt-2
                    +link_download('Политика конфиденциальности', 'Privacy_policy.pdf', 'link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover')
