extends ../layout/_layout

block variables
    -   var footItems_1 = [{'Центр по реабилитации и коррекции речи ИП Красикова Н.Н.': 'index.html'}, {'Сведения об образовательной организации': 'license.html'}]

block content
    header.py-3.border-bottom
        .container.d-flex.justify-content-between.flex-wrap.justify-content-center
            a.d-flex.align-items-center.mb-3.mb-md-0.text-dark.text-decoration-none(href='index.html')
                img.d-block.mx-auto.me-2(src=require('../../assets/img/logo.jpg') alt='Логотип Центр по реабилитации и коррекции речи' width='50' height='50')
                span.fs-6.fw-bold Центр по реабилитации и коррекции речи
            a.p-2.justify-content-center.border.border-light.rounded.bvi-open(href='#')
                    img.d-block.mx-auto(src=require('../../assets/img/eye.svg') alt='Версия сайта для слабовидящих' width='30' height='30')
                    | Версия сайта для слабовидящих
            ul.nav.nav-pills.justify-content-center.align-items-center
                li.nav-item
                    a.nav-link.fw-semibold(href='index.html' aria-current='page') Главная
                li.nav-item
                    a.nav-link.fw-semibold.active(href='#') Сведения об образовательной организации

    main
        .container.my-4
            h2.fw-bold.ms-3 Сведения об образовательной организации

            +section('1. Раздел «Основные сведения»', 'base')
                +card-title('', '', [
                    ['Полное наименование:', 'Индивидуальный предприниматель Красикова Наталья Николаевна;'],
                    ['Сокращенное наименование:', 'ИП Красикова Н.Н.;'],
                    ['Дата регистрации в ЕГРИП:', '15.08.2018 г.;'],
                    ['Место нахождения:', '350901, г. Краснодар, ул. Российская, д. 75/5, кв. 90;'],
                    ['Режим работы:', 'с понедельника по пятницу с 09:00 до 18:00, перерыв на обед с 13:00 до 14:00;'],
                    ['Контактный телефон:', '+79654728686;'],
                    ['Электронная почта:', 'Natalya_krasikova@mail.ru;'],
                    ['Адрес места осуществления образовательной деятельности:', 'г. Краснодар, ул. Российская, д. 74/3, помещения 96-101 (здание литер А, 1 этаж).'],
                    ['Лицензия на осуществление образовательной деятельности:', 'Л035-01218-23/00632812 от 20.12.2022 г., выдана Министерством образования, науки и молодежной политики Краснодарского края;']
                ])
                .card.no-border.mt-0.pt-0
                    .card-body.mt-0.pt-0
                        +link_download('Выписка из реестра лицензий', '../../assets/docs/Реестровая_выписка.pdf')
                +card-title('', '', [
                    ['', 'Государственная аккредитация образовательной деятельности по реализуемым образовательным программам отсутствует.']
                ])

            +section('2. Раздел «Структура и органы управления образовательной организации»')
                +card-title('', 'Структурные подразделения не создаются.', [])

            +section('3. Раздел «Документы»')
                .card.no-border.text-dark
                    ul.list-group.list-group-flush.list-group-numbered
                        li.list-group-item 
                            +link_download('Правила внутреннего распорядка обучающихся', '../../assets/docs/documents_section/1_Правила_внутреннего_распорядка_обучающихся_штамп.pdf')
                        li.list-group-item
                            +link_download('Правила внутреннего трудового распорядка', '../../assets/docs/documents_section/2_Правила_внутреннего_трудового_распорядка_штамп.pdf')
                        li.list-group-item
                            +link_download('Положение о структуре порядке разработки проведения экспертизы', '../../assets/docs/documents_section/3_Положение_о_структуре_порядке_разработки_проведения_экспертизы_штамп.pdf')
                        li.list-group-item
                            +link_download('Положение о порядке разработки утверждения и применения контрольно-оценочных средств', '../../assets/docs/documents_section/4_Положение_о_порядке_разработки_утверждения_и_применения_штамп.pdf')
                        li.list-group-item
                            +link_download('Программа развития', '../../assets/docs/documents_section/5_Программа_развития_штамп.pdf')
                        li.list-group-item
                            +link_download('Приказ о разработке программы развития', '../../assets/docs/documents_section/7_Приказ_о_разработке_программы_развития_штамп.pdf')
                        li.list-group-item
                            +link_download('Положение о формах периодичности и порядке текущего контроля', '../../assets/docs/documents_section/9_Положение_о_формах_периодичности_и_порядке_текущего_контроля_штамп.pdf')
                        li.list-group-item
                            +link_download('Приказ об утверждении программы развития', '../../assets/docs/documents_section/10_Приказ_об_утверждении_программы_развития_штамп.pdf')
                        li.list-group-item
                            +link_download('Положение об индивидуальном учете результатов освоения обучающимися образовательных программ', '../../assets/docs/documents_section/11_Положение_об_индивидуальном_учете_результатов_освоения_обучающимися_штамп.pdf')
                        li.list-group-item
                            +link_download('Приказы, утверждающие формы учета посещения проведенных занятий', '../../assets/docs/documents_section/12_Приказы_утверждающие_формы_учет_посещения_проведенных_занятий_штамп.pdf')
                        li.list-group-item
                            +link_download('Положение о внутренней системе оценки качества образования', '../../assets/docs/documents_section/14_Положение_о_внутренней_системе_оценки_качества_образования_штамп.pdf')
                        li.list-group-item
                            +link_download('Режим занятий обучающихся', '../../assets/docs/documents_section/17_Режим_занятий_обучающихся_штамп.pdf')
                        li.list-group-item
                            +link_download('Порядок и основания перевода и отчисления обучающихся', '../../assets/docs/documents_section/18_Порядок_и_основания_перевода_и_отчисления_обучающихся_штамп.pdf')
                        li.list-group-item
                            +link_download('Порядок оформления возникновения, изменения, приостановления, прекращения образовательных отношений', '../../assets/docs/documents_section/19_Порядок_оформления_возникновения_изменения_приостановления_штамп.pdf')
                        li.list-group-item
                            +link_download('Порядок регламентирующий обучение обучающегося по индивидуальному учебному плану', '../../assets/docs/documents_section/20_Порядок_регламентирующий_обучение_обучающегося_по_индивидуальному_штамп.pdf')
                        li.list-group-item
                            +link_download('Положение о порядке создания организации работы и принятия решений комиссией по урегулированию споров', '../../assets/docs/documents_section/21_Положение_о_порядке_создания_организации_работы_принятиярешений_штамп.pdf')
                        li.list-group-item
                            +link_download('Порядок бесплатного пользования педагогическими работниками библиотеками и информационными ресурсами', '../../assets/docs/documents_section/22_Порядок_бесплатного_пользования_педагогическими_работниками_библиотеками_штамп.pdf')
                        li.list-group-item
                            +link_download('Порядок регламентации бесплатного пользования педагогическими работниками образовательными, методическими научными услугами организации', '../../assets/docs/documents_section/23_Порядок_бесплатного_пользования_педагогическими_работниками_штамп.pdf')
                        li.list-group-item
                            +link_download('Профессиональная этика педагогических работников', '../../assets/docs/documents_section/24_Профессиональная_этика_педагогических_работников_штамп.pdf')
                        li.list-group-item
                            +link_download('Положение о соотношении учебной преподавательской и другой педагогической работы в пределах рабочей недели или учебного года', '../../assets/docs/documents_section/25_Положение_о_соотношении_учебной_преподавательской_и_другой_педагогической_штамп.pdf')
                        li.list-group-item
                            +link_download('Порядок формирования аттестационной комиссии в целях подтверждения в целях подтверждения соответствия педагогических работников занимаемым должностям', '../../assets/docs/documents_section/26_Порядок_формирования_аттестационной_комиссии_в_целях_подтверждения_штамп.pdf')
                        li.list-group-item
                            +link_download('Приказ об утверждении образцов справок об обучении или о периоде обучения', '../../assets/docs/documents_section/27_Приказ_об_утверждении_образцов_справок_об_обучении_или_о_периоде_штамп.pdf')
                        li.list-group-item
                            +link_download('Положение об участии педагогических работников в разработке образовательных программ', '../../assets/docs/documents_section/28_Положение_об_участии_педагогических_работников_в_разработке_образовательных_штамп.pdf')
                        li.list-group-item
                            +link_download('Порядок ознакомления с документами', '../../assets/docs/documents_section/29_Порядок_ознакомления_с_документами_в_тч_поступающих_в_нее_лиц_штамп.pdf')
                        li.list-group-item
                            +link_download('Отчет о результатах самообследования за 2023 год', '../../assets/docs/documents_section/13_Отчет_о_результатах_самообследования_штамп.pdf')
                        li.list-group-item
                            +link_download('Отчет о результатах самообследования за 2024 год', '../../assets/docs/documents_section/2024_Отчет_о_результатах_самообследования_за_2024_штамп.pdf')

            +section('4. Раздел «Образование»')
                +card-title('Дополнительная общеобразовательная общеразвивающая программа «Логопедия»', '', [
                    ['Форма обучения:', 'очная.'],
                    ['Обучение за счет бюджетных ассигнований федерального бюджета, бюджетов субъектов Российской Федерации, бюджетных ассигнований местных бюджетов:', 'не предусмотрено.'],
                    ['Численность обучающихся по договорам об образовании, заключаемым при приеме на обучение за счет средств физического и (или) юридического лица:', 'не ограничивается.']
                ])
                .card.no-border.text-dark
                    ul.list-group.list-group-flush.list-group-numbered
                        li.list-group-item 
                            +link_download('Дополнительная общеобразовательная общеразвивающая программа социально-гуманитарной направленности «Логопедия» 1 месяц', '../../assets/docs/education_section/Программа_для_детей_4-7_лет_(1_месяц)_штамп.pdf')
                        li.list-group-item 
                            +link_download('Дополнительная общеобразовательная общеразвивающая программа социально-гуманитарной направленности «Логопедия» 3 месяца', '../../assets/docs/education_section/Программа_для_детей_4-7_лет_(3_месяца)_штамп.pdf')
                        li.list-group-item 
                            +link_download('Дополнительная общеобразовательная общеразвивающая программа социально-гуманитарной направленности «Логопедия» 6 месяцев', '../../assets/docs/education_section/Программа_для_детей_3-6_лет_(6_месяцев)_штамп.pdf')
                        li.list-group-item 
                            +link_download('Дополнительная общеобразовательная общеразвивающая программа социально-гуманитарной направленности «Логопедия» 12 месяцев', '../../assets/docs/education_section/Программа_для_детей_3-6_лет_(12 месяцев)_штамп.pdf')
                        li.list-group-item 
                            +link_download('Положение о языке (языках) обучения', '../../assets/docs/education_section/Положение_о_языке_языках_обучения_штамп.pdf')

            +section('5. Раздел «Образовательные стандарты и требования»')
                +card-title('', '', [
                    ['', 'К дополнительной общеобразовательной общеразвивающей программе  социально-гуманитарной направленности «Логопедия» не применяются образовательные стандарты.']
                ])

            +section('6. Раздел «Руководство»')
                +card-title('', '', [
                    ['Руководитель образовательной организации: ', 'индивидуальный предприниматель Красикова Наталья Николаевна.'],
                    ['Контактный телефон:', '+79384280286'],
                    ['Электронная почта:', 'Natalya_krasikova@mail.ru']
                ])

            +section('7. Раздел «Педагогический состав»')
                +card-title('Красикова Наталья Николаевна', '', [
                    ['Должность:', 'логопед, педагог дополнительного образования.'],
                    ['Обучает по программе:', '«Логопедия».'],
                    ['Образование:', 'высшее по специальности «Логопедия» (2009), квалификация «Учитель-логопед».'],
                    ['Опыт работы:', '19 лет.'],
                    ['Повышение квалификации:', 'в 2025 году по программе «Психолого-педагогическое сопровождение детей с ограниченными возможностями здоровья в соответствии с ФГОС» в объеме 288 академических часов.']
                ])

                +card-title('Татаринова Ксения Викторовна', '', [
                    ['Должность:', 'дефектолог, олигофренопедагог, педагог дополнительного образования.'],
                    ['Обучает по программе:', '«Логопедия».'],
                    ['Образование:', 'высшее по специальности «Олигофренопедагогика» с дополнительной специальностью «Логопед» (2013).'],
                    ['Опыт работы:', '12 лет.'],
                    ['Повышение квалификации:', 'в 2025 году по программе «Организация и содержание логопедической работы учителя-логопеда в условиях реализации ФГОС» в объеме 72 академических часа.']
                ])

                +card-title('Кроква Оксана Владимировна', '', [
                    ['Должность:', 'логопед, педагог дополнительного образования.'],
                    ['Обучает по программе:', '«Логопедия».'],
                    ['Образование:', 'высшее по направлению подготовки «Специальное (дефектологическое) образование» (2023).'],
                    ['Опыт работы:', '3 года.'],
                    ['Повышение квалификации:', 'в 2025 году по программе «Организация и содержание логопедической работы учителя-логопеда в условиях реализации ФГОС» в объеме 72 академических часа.']
                ])

                +card-title('Соколикова Яна Николаевна', '', [
                    ['Должность:', 'логопед, педагог дополнительного образования.'],
                    ['Образование:', 'Специальное (дефектологическое) образование, высшее педагогическое (2019 г.).'],
                    ['Опыт работы:', '6 лет.'],
                    ['Повышение квалификации:', 'в 2025 году по программе «Организация и содержание логопедической работы учителя-логопеда в условиях реализации ФГОС» в объеме 72 академических часа.']
                ])

            +section('8. Раздел «Материально-техническое обеспечение и оснащенность образовательного процесса. Доступная среда»')
                +card-title('', '', [
                    ['Материально-техническое обеспечение образовательной деятельности:', 'оборудованные учебные кабинеты, столы, стулья, учебные пособия.'],
                    ['Материальная база соответствует санитарным и техническим нормам и правилам и обеспечивает проведение всех видов практической и дисциплинарной подготовки слушателей, предусмотренных учебным планом реализуемой дополнительной профессиональной программы.', ''],
                    ['О доступе к информационным системам и информационно-телекоммуникационным сетям, приспособленным для использования инвалидами и лицами с ограниченными возможностями здоровья:', 'сайт имеет версию для слабовидящих.'],
                    ['Обеспечение беспрепятственного доступа в здание образовательной организации:', 'при входе в помещение имеется пандус.']
                ])

            +section('9. Раздел «Стипендии и меры поддержки обучающихся»')
                +card-title('', '', [
                    ['', 'Стипендии и иные виды материальной поддержки обучающихся не предусмотрены.'],
                    ['', 'Индивидуальный предприниматель не располагает общежитием для обучающихся.'],
                ])

            +section('10. Раздел «Платные образовательные услуги»')
                .card.no-border.text-dark
                    ul.list-group.list-group-flush.list-group-numbered
                        li.list-group-item 
                           +link_download('Положение о порядке оказания платных образовательных услуг', '../../assets/docs/paid_educational_services/15_Положение_о_порядке_оказания_платных_образовательных_услуг_штамп.pdf')
                        li.list-group-item 
                           +link_download('Приказ об утверждении стоимости обучения по образовательным программам', '../../assets/docs/paid_educational_services/19_Приказ_5_об_утверждении_стоимости_обучения_по_образовательным_программам_штамп.pdf')
                        li.list-group-item 
                           +link_download('Образец договора об оказании платных образовательных услуг', '../../assets/docs/paid_educational_services/Образец_договора_об_оказании_платных_образовательных_услуг.pdf')

            +section('11. Раздел «Финансово-хозяйственная деятельность»')
                +card-title('', '', [
                    ['', 'Вся образовательная деятельность осуществляется по договорам об оказании платных образовательныхуслуг.'],
                ])

            +section('12. Раздел «Вакантные места для приема (перевода) обучающихся»')
                +card-title('', '', [
                    ['Вакантные места для приема (перевода) обучающихся по дополнительной общеобразовательной общеразвивающейпрограмме «Логопедия»:', ''],
                    ['*', 'за счёт бюджетных ассигнований федерального бюджета не предусмотрены;'],
                    ['*', 'за счёт бюджетных ассигнований бюджетов субъекта Российской Федерации не предусмотрены;'],
                    ['*', 'за счёт бюджетных ассигнований местных бюджетов не предусмотрены.'],
                    ['В ИП Красикова Н.Н.  прием обучающихся ведется в соответствии с заключаемыми договорами об оказанииплатных образовательных услуг', '– без ограничений.'],
                    ['Квоты и контрольные цифры', '– не установлены.'],
                ])

            +section('13. Раздел «Международное сотрудничество»')
                +card-title('', '', [
                    ['', 'ИП Красикова Н.Н. не имеет заключенных и планируемых к заключению договоров с иностранными и (или) международными организациями по вопросам образования и науки.']
                ])

            +section('14. Раздел «Организация питания в образовательной организации»')
                +card-title('', '', [
                    ['', 'Питание обучающихся не предусмотрено. Охрана здоровья обучающихся обеспечивается за счет соблюдения режима занятий и равномерного распределения учебной нагрузки.']
                ])

    footer.py-3.border-top
        .container
            .col.d-flex.flex-wrap.justify-content-between.align-items-center.border-bottom.pb-3
                span.mb-3.mb-md-0.text-light © 2025 ИП Красикова Н.Н.&nbsp;&nbsp;&nbsp;
                a.link-light.link-offset-2.link-offset-3-hover.link-underline.link-underline-light.link-underline-opacity-0.link-underline-opacity-75-hover(href='index.html' aria-current='page') Центр по реабилитации и коррекции речи
            p.text-center.mt-2
                    +link_download('Политика обработки персональных данных', 'Политика_обработки_персональных_данных.pdf', 'link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover')
