extends ../layout/_layout

block variables
    -   var footItems_1 = [{'Центр по реабилитации и коррекции речи ИП Красикова Н.Н.': 'index.html'}, {'Сведения об образовательной организации': 'license.html'}]

block content
    header.py-3.mb-4.border-bottom.bg-info-subtle
        .container.d-flex.flex-wrap.justify-content-center
            a.d-flex.align-items-center.mb-3.mb-md-0.me-md-auto.text-dark.text-decoration-none(href='index.html')
                span.fs-6.fw-bold Центр по реабилитации и коррекции речи
            ul.nav.nav-pills
                li.nav-item
                    a.nav-link(href='index.html' aria-current='page') Главная
                li.nav-item
                    a.nav-link.active(href='#') Сведения об организации
    main
        .container.mb-4
            h2.fw-bold.ms-3 Сведения об образовательной организации
            +section('1. Раздел «Основные сведения»', 'base')
                +card-title('', '', [
                    ['Полное наименование:', 'Индивидуальный предприниматель Красикова Наталья Николаевна;'],
                    ['Сокращенное наименование:', 'ИП Красиковой Н.Н.;'],
                    ['Дата регистрации в ЕГРИП:', '15.08.2018 г.;'],
                    ['Место нахождения:', '350901, г. Краснодар, ул. Российская, д. 75/5, кв. 90;'],
                    ['Режим работы:', 'с понедельника по пятницу с 09:00 до 18:00, перерыв на обед с 13:00 до 14:00;'],
                    ['Контактный телефон:', '+79654728686;'],
                    ['Электронная почта:', 'Natalya_krasikova@mail.ru;'],
                    ['Адрес места осуществления образовательной деятельности:', 'г. Краснодар, ул. Российская, д. 74/3, помещения 96-101 (здание литер А, 1 этаж).']
                ])
            +section('2. Раздел «Структура и органы управления образовательной организации»')
                +card-title('', 'Структурные подразделения не создаются.', [])
            +section('3. Раздел «Документы»')
                +card-title
                    +list-group([
                        ['', 'Правила внутреннего распорядка обучающихся;'],
                        ['', 'Правила внутреннего трудового распорядка;'],
                        ['', 'Правила приема обучающихся;'],
                        ['', 'Режим занятий обучающихся;'],
                        ['', 'Формы, периодичность и порядок текущего контроля успеваемости и промежуточной аттестации обучающихся;'],
                        ['', 'Порядок и основания перевода, отчисления и восстановления обучающихся;'],
                        ['', 'Порядок оформления возникновения, приостановления и прекращения отношений между образовательной организацией и обучающимися.'],
                    ], [], 'list-group-flush list-group-numbered')
            +section('4. Раздел «Образование»')
                +card-title('Обучение по дополнительной общеобразовательной общеразвивающей программе  «Логопедия» предполагает:', '', [
                    ['Форма обучения', '– очная.'],
                ])
                +card-title('Образовательная программа включает в себя темы:', '', [])
                    +list-group([
                        ['', 'Произношение;'],
                        ['', 'Фонематическое восприятие.']
                    ], [
                        ['', 'Итоговая аттестация не предусмотрена.'],
                    ], 'list-group-flush list-group-numbered')
                +card-title('', '', [
                    ['Численность обучающихся по реализуемым образовательным программам', '– не ограничивается.'],
                    ['', 'Обучение за счет бюджетных ассигнований федерального бюджета, бюджетов субъектов Российской Федерации, бюджетных ассигнований местных бюджетов не предусмотрена.'],
                    ['', 'Численность обучающихся по договорам об образовании, заключаемых при приеме на обучение за счет средств физического и (или) юридического лица (далее – договор об оказании платных образовательных услуг) (в том числе с выделением численности обучающихся, являющихся иностранными гражданами) – не ограничивается.'],
                    ['Регистрационный номер лицензии:', ' № Л035-01218-23/00632812.'],
                    ['Дата предоставления лицензии:', '20.12.2022 г.']
                ])
            +section('5. Раздел «Образовательные стандарты и требования»')
                +card-title('', '', [
                    ['', 'К дополнительной общеобразовательной общеразвивающей программе  социально-гуманитарной направленности «Логопедия» не применяются образовательные стандарты.']
                ])
            +section('6. Раздел «Руководство. Педагогический (научно-педагогический) состав»')
                +card-title('', '', [
                    ['Руководитель образовательной организации: ', 'индивидуальный предприниматель Красикова Наталья Николаевна.'],
                    ['Контактный телефон:', '+79384280286'],
                    ['Электронная почта:', 'Natalya_krasikova@mail.ru'],
                    ['Педагогические работники:', ''],
                    ['- Красикова Наталья Николаевна,', 'преподаватель.'],
                    ['Образование:', 'высшее, педагогическое.'],
                    ['Общий стаж работы:', '18 лет.'],
                    ['Стаж преподавания:', '18 лет.'],
                    ['Преподаваемые учебные предметы, курсы, дисциплины (модули):', 'курс «Логопедия».'],
                    ['- Шутко Анастасия Сергеевна,', 'преподаватель.'],
                    ['Образование:', 'высшее.'],
                    ['Профессиональная переподготовка по программе:', '«Суицилология. Психологическая диагностика, профилактика и коррекция суицидального поведения», 2022 г.'],
                    ['Преподаваемые учебные предметы, курсы, дисциплины (модули):', 'курс «Логопедия».'],
                    ['- Соколикова Яна Николаевна,', 'преподаватель.'],
                    ['Образование:', 'специальное (дефектологическое) образование, высшее педагогическое, 2019 г.'],
                    ['Преподаваемые учебные предметы, курсы, дисциплины (модули):', 'курс «Логопедия».'],
                    ['- Жукова Екатерина Владимировна,', 'преподаватель.'],
                    ['Образование:', 'специальное (дефектологическое) образование, магистратура, 2014 г.'],
                    ['Преподаваемые учебные предметы, курсы, дисциплины (модули):', 'курс «Логопедия».'],
                    ['- Якушева Мария Алексеевна,', 'преподаватель.'],
                    ['Образование:', 'специальное (дефектологическое) образование, бакалавриат, 2022 г.'],
                    ['Преподаваемые учебные предметы, курсы, дисциплины (модули):', 'курс «Логопедия».'],
                    ['- Кроква Оксана Владимировна,', 'преподаватель.'],
                    ['Образование:', 'неполное высшее.'],
                    ['Общий стаж работы:', '0,5 года.'],
                    ['Стаж преподавания:', '0,5 года.'],
                    ['Преподаваемые учебные предметы, курсы, дисциплины (модули):', 'курс «Логопедия».'],
                ])
            +section('7. Раздел «Материально-техническое обеспечение и оснащенность образовательного процесса»')
                +card-title('', '', [
                    ['Материально-техническое обеспечение образовательной деятельности:', 'оборудованные учебные кабинеты, столы, стулья, учебные пособия.'],
                    ['Материальная база соответствует санитарным и техническим нормам и правилам и обеспечивает проведение всех видов практической и дисциплинарной подготовки слушателей, предусмотренных учебным планом реализуемой дополнительной профессиональной программы.', '']
                ])
            +section('8. Раздел «Стипендии и меры поддержки обучающихся»')
                +card-title('', '', [
                    ['', 'Стипендии и иные виды материальной поддержки обучающихся не предусмотрены.'],
                    ['', 'Индивидуальный предприниматель не располагает общежитием для обучающихся.'],
                ])
            +section('9. Раздел «Платные образовательные услуги»')
                +list-group([
                    ['Образец договора об оказании платных образовательных услуг;', ''],
                    ['Приказ об утверждении стоимости обучения по каждой образовательной программе.', ''],
                ], [], 'list-group-flush')
            +section('10. Раздел «Финансово-хозяйственная деятельность»')
                +card-title('', '', [
                    ['', 'Вся образовательная деятельность осуществляется по договорам об оказании платных образовательныхуслуг.'],
                ])
            +section('11. Раздел «Вакантные места для приема (перевода) обучающихся»')
                +card-title('', '', [
                    ['Вакантные места для приема (перевода) обучающихся по дополнительной общеобразовательной общеразвивающейпрограмме «Логопедия»:', ''],
                    ['*', 'за счёт бюджетных ассигнований федерального бюджета не предусмотрены;'],
                    ['*', 'за счёт бюджетных ассигнований бюджетов субъекта Российской Федерации не предусмотрены;'],
                    ['*', 'за счёт бюджетных ассигнований местных бюджетов не предусмотрены.'],
                    ['В ИП Красикова Н.Н.  прием обучающихся ведется в соответствии с заключаемыми договорами об оказанииплатных образовательных услуг', '– без ограничений.'],
                    ['Квоты и контрольные цифры', '– не установлены.'],
                ])
            +section('12. Раздел «Доступная среда»')
                .table-responsive
                    table.table.table-bordered
                        tr.align-middle
                            th(scope='col') О доступе к информационным системам и информационно-телекоммуникационным сетям,приспособленным для использования инвалидами и лицами с ограниченными возможностями здоровья
                            th(scope='col') Сайт имеет версию для слабовидящих
                        tr.align-middle
                            th(scope='col') Обеспечение беспрепятственного доступа в здание образовательной организации
                            th(scope='col') При входе в помещение имеется пандус
            +section('13. Раздел «Международное сотрудничество»')
                +card-title('', '', [
                    ['', 'ИП Красикова Н.Н. не имеет заключенных и планируемых к заключению договоров с иностранными и (или)международными организациями по вопросам образования и науки, образовательных программ, имеющихмеждународную аккредитацию.']
                ])
    footer.py-3.my-4.border-top.bg-primary
        .container
            .col.d-flex.flex-wrap.justify-content-between.align-items-center
                span.mb-3.mb-md-0.text-light © 2023 ИП Красикова Н.Н.&nbsp;&nbsp;&nbsp;
                a.link-light.link-offset-2.link-offset-3-hover.link-underline.link-underline-light.link-underline-opacity-0.link-underline-opacity-75-hover(href='index.html' aria-current='page') Центр по реабилитации и коррекции речи
