script(src=require('bootstrap'), type="text/javascript")
script(type="text/javascript" src=require("../../assets/js/bvi.js"))
script(type="text/javascript" src=require("../../assets/js/bvi-init.js"))
